<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h2>Parent Details</h2>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="div-1">


            <div class="main-div">
                <div class="img-div add-logo-div">
                    <input accept="image/*" type="file" id="file" class="display-none" (change)="selectFile($event)" (input)="handleFileInput($event)">
                    <div *ngIf="!form.get('businessLogoUrl').value" (click)="addLogo()" class="cursor-pointer w-100">
                        <div class="add-logo flex center">
                            <div>
                                <div class="company-logo-text">+Add Photo</div>
                            </div>

                        </div>

                        <mat-error *ngIf="logoError == true" class="img-error">Photo is required</mat-error>
                    </div>
                    <div *ngIf="form.get('businessLogoUrl').value" class="image-preview">
                        <img [src]="form.get('businessLogoUrl').value">

                        <!-- <div class="cursor-pointer change-logo" *ngIf="formService.formPreview != true" (click)="addLogo()">
                            Change Logo
                        </div> -->
                    </div>
                </div>
                <button type="button" mat-button color="primary" class="upload-btn" (click)="upload()">Upload Image</button>
                <div class="form-div">
                    <div class="w-100">
                        <div class="width-calc">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Parent Full Name</mat-label>
                                <input formControlName="parentName" matInput>
                            </mat-form-field>
                        </div>
                        <div class="width-calc">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Address - 1</mat-label>
                                <input formControlName="address1" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </div>


            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Address -2</mat-label>
                        <input formControlName="address2" matInput>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mobile Number</mat-label>
                        <input formControlName="mobilenumber" matInput>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Secondary Mobile Number</mat-label>
                        <input formControlName="secMobilnumber" matInput>
                    </mat-form-field>
                </div>

            </div>
            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Parent Emergency Mobile Number</mat-label>
                        <input formControlName="emgMobilenumber" matInput>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Parent E-Mail</mat-label>
                        <input formControlName="email" matInput>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label> Secondary E-Mail</mat-label>
                        <input formControlName="secEmail" matInput>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">



                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let item of gender" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Role</mat-label>
                        <mat-select formControlName="role">
                            <mat-option *ngFor="let item of role" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Nationality</mat-label>
                        <mat-select formControlName="nationality">
                            <mat-option *ngFor="let item of nationality" [value]="item.idNationality">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">



                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Country</mat-label>
                        <mat-select formControlName="country" (selectionChange)="onChangeCountry($event)">
                            <mat-option *ngFor="let item of country" [value]="item.idCountry">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select State</mat-label>
                        <mat-select formControlName="state" (selectionChange)="onChangeState($event)">
                            <mat-option *ngFor="let item of state" [value]="item.idState">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option *ngFor="let item of city" [value]="item.idCity">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Postal Code</mat-label>
                        <input formControlName="postelCode" matInput>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" class="form-btn" (click)=" submit()">Submit</button>
        </div>
    </form>
</div>
