<div class="d-none-n d-block-767">
    <div class="logo-stripe">
        <div class="beep-next-logo">
            <a href="javascript:void(0)"><img src="./assets/images/jayapinLogo.png" alt=""></a>
        </div>
    </div>
</div>
<div class="full-height-wid-bg position-relative d-flex align-items-center">
    <div class="container">
        <div class="d-flex align-items-center justify-content-end justify-content-center-991">
            <div class="sign-up-login-box forgot-pass position-relative">
                <div class="beep-next-logo d-none-767">
                    <a href="javascript:void(0)"><img src="./assets/images/jayapinLogo.png" alt=""></a>
                </div>
                <form [formGroup]="form">
                <div class="login-form">
                    <h1>Forgot your Password?</h1>
                    <p>Don't worry. Resetting your password is easy, just tell us the email address you registered.</p>
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter Your Email ID or Moblie Number</mat-label>
                            <input formControlName="email"  matInput>
                            <mat-error *ngIf="form.get('email').errors && (form.get('email').invalid || form.get('email').touched) && form.get('email').errors.pattern">Please enter a valid email address.</mat-error>
                            <mat-error *ngIf="form.get('email').errors && (form.get('email').invalid || form.get('email').touched) && form.get('email').errors.required">Email is required.</mat-error>
                        </mat-form-field>

                        <div class="btn-action d-flex  justify-content-between">
                            <button mat-raised-button class="w-48 box-shadow-none btn-cancel text-center" type="cancel" routerLink='/'>Cancel</button>
                            <button mat-raised-button class="w-48 box-shadow-none btn-login text-center" type="submit" (click)="getOTP()" >Get OTP</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>