<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h2>Exam Result Detail</h2>
        </div>
    </div>

    <div class="div-1">
        <form [formGroup]="form">
            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Standard</mat-label>
                        <mat-select  formControlName="idStandard" (selectionChange)="onChangeStandard($event)">
                            <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Division</mat-label>
                        <mat-select formControlName="idDivision" (selectionChange)=" onChangeDivision($event)">
                            <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <button mat-raised-button color="primary" class="form-btn" (click)="addExamResult()">Upload Exam Result</button>
                </div>
            </div>
        </form>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef>Student Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
                </ng-container>


                <ng-container matColumnDef="subjectName">
                    <th mat-header-cell *matHeaderCellDef>Subject Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.subjectName}} </td>
                </ng-container>


                <ng-container matColumnDef="testType">
                    <th mat-header-cell *matHeaderCellDef>Test Type</th>
                    <td mat-cell *matCellDef="let element"> {{element.testType}} </td>
                </ng-container>


                <ng-container matColumnDef="maxMark">
                    <th mat-header-cell *matHeaderCellDef>Max. Mark</th>
                    <td mat-cell *matCellDef="let element"> {{element.maxMark}} </td>
                </ng-container>

                <ng-container matColumnDef="minMark">
                    <th mat-header-cell *matHeaderCellDef>Min. Mark</th>
                    <td mat-cell *matCellDef="let element"> {{element.minMark}} </td>
                </ng-container>


                <ng-container matColumnDef="obtain">
                    <th mat-header-cell *matHeaderCellDef>Obtain</th>
                    <td mat-cell *matCellDef="let element"> {{element.obtain}} </td>
                </ng-container>

                <ng-container matColumnDef="remark">
                    <th mat-header-cell *matHeaderCellDef>Remark</th>
                    <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" mat-button color="primary" (click)="editStudent(element)">Edit</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button  type="button" mat-button color="accent" (click)="onDelete(element)">Delete</button>
                     </td>
            </ng-container> -->

            <ng-container matColumnDef="action">
                <th class="action" mat-header-cell *matHeaderCellDef> Actions </th>
                <td [style.width.px]="220" [style.height.px]="60" mat-cell *matCellDef="let element">
                    <button   type="button" mat-button color="primary" (click)="editResult(element)">Edit</button>
                    <button   [ngStyle]="{'margin-left.px': 10}"  type="button" mat-button color="accent" (click)="onDelete(element)">Delete</button>
                   
                </td>
            </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>