<div class="container">
    <div class="business-details-back">
      <div class="bus-width set-item-width-back" style="width: 67%">
        <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                  <mat-icon>keyboard_backspace</mat-icon>
                  <mat-label>Back</mat-label>
              </button>
      </div>

    <div class="bus-width set-item-width-back">
      <h2 >Teacher Details</h2>
    </div>

    </div>
  
    <form [formGroup]="form">
      <div class="div-1">
        <div class="main-div">
          <div class="img-div add-logo-div" >
            <input #inputImage
              accept="image/*"
              type="file"
              id="file"
              class="display-none"
              (input)="handleFileInput($event)"
            />
            <div *ngIf="!fileUpload && !form.get('businessLogoUrl').value" (click)="addLogo()" class="cursor-pointer image-class">
              <div class="add-logo flex center">
                <div>
                  <div class="company-logo-text">+Add Photo</div>
                </div>
              </div>
  
              <mat-error *ngIf="logoError == true" class="img-error"
                >Photo is required</mat-error
              >
            </div>
            <div *ngIf="!fileUpload && form.get('businessLogoUrl').value" class="image-preview" (click)="addLogo()">
              <img [src]="form.get('businessLogoUrl').value" />
  
              <!-- <div class="cursor-pointer change-logo" *ngIf="formService.formPreview != true" (click)="addLogo()">
                                  Change Logo
                              </div> -->
            </div>

            <div *ngIf="fileUpload" style="width: 100%;" >
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
          <!-- <button
            type="button"
            mat-button
            color="primary"
            class="upload-btn"
            (click)="upload()"
          >
            Upload Image
          </button> -->
          <div class="form-div">
            <div class="w-100">
              <div class="width-calc">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Teacher Name</mat-label>
                  <input formControlName="teacher" matInput />
                </mat-form-field>
              </div>
              <div class="width-calc">
                <!-- <mat-form-field class="example-full-width" appearance="fill">
                                      <mat-label>Select Teacher</mat-label>
                                      <mat-select formControlName="idteacher">
                                          <mat-option *ngFor="let item of teacherName" [value]="item.idTeacher">{{item.name}}</mat-option>
                                      </mat-select>
                                  </mat-form-field> -->
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email ID</mat-label>
                  <input formControlName="email" matInput />
                  <mat-error *ngIf="form.get('email').errors && (form.get('email').invalid || form.get('email').touched) && form.get('email').errors.pattern">Please enter a valid email address.</mat-error>
                  <mat-error *ngIf="form.get('email').errors && (form.get('email').invalid || form.get('email').touched) && form.get('email').errors.required">Email is required.</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="business-details">
          <div class="bus-width set-item-width">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Education</mat-label>
              <input formControlName="education" matInput />
            </mat-form-field>
          </div>
          <div class="bus-width set-item-width">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Whatsapp Number</mat-label>
              <input formControlName="whatsappNumber" matInput (ngModelChange)="updateMobileNumber($event)" />
              <mat-error *ngIf="form.get('whatsappNumber').touched && form.get('whatsappNumber').invalid && form.get('whatsappNumber').errors?.required">Please enter mobile number</mat-error>
              <mat-error *ngIf="form.get('whatsappNumber').touched && form.get('whatsappNumber').invalid && form.get('whatsappNumber').errors?.pattern">Mobile number is not 10 digit</mat-error>
            </mat-form-field>
          </div>
          <div class="bus-width set-item-width">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label> Phone Number</mat-label>
              <input formControlName="phoneNumber" matInput />
              <mat-error *ngIf="form.get('phoneNumber').errors && (form.get('phoneNumber').invalid || form.get('phoneNumber').touched) && form.get('phoneNumber').errors.required">Please enter mobile number</mat-error>
              <mat-error *ngIf="form.get('phoneNumber').errors && (form.get('phoneNumber').invalid || form.get('phoneNumber').touched) && form.get('phoneNumber').errors.pattern">Mobile number is not 10 digit</mat-error>
              <mat-error *ngIf="form.get('phoneNumber').errors && (form.get('phoneNumber').invalid || form.get('phoneNumber').touched) && form.get('phoneNumber').errors.phoneNumberInvalid">Mobile number is same as Previous number</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- <div class="business-details">
      
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Standard</mat-label>
                              <mat-select formControlName="idStandard" (selectionChange)="onChangeStandard($event) ">
                                  <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Division</mat-label>
                              <mat-select formControlName="idDivision">
                                  <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Subject</mat-label>
                              <mat-select formControlName="idSubject">
                                  <mat-option *ngFor="let item of subjectData" [value]="item.idSubject">{{item.name}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
      
                  </div> -->
  
        <div class="business-details">
          <div class="bus-width set-item-width">
            <button *ngIf="!form.valid" type="submit"   mat-raised-button color="primary" class="btn_sub" (click)="submit()" >Submit Teacher Details</button>
            <button *ngIf="form.valid" type="button"  mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading"   class="btn_sub" (click)="buttonSecond()" >Submit Teacher Details</button>
          </div>
        </div>
      </div>
    </form>
    <div class="div-1"  [ngStyle]="{'margin-top.px':80,'display':'flex','justify-content':'center','align-items':'center'}">


      <div class="file-div" (click)="clickToAddFile()" >
          <input #inputFile accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"  type="file" id="fileExcel" class="display-none" (change)="onFileChange($event)" >
          <div *ngIf="!excelFileUpload"  class="cursor-pointer w-100">
              <div class="add-logo excel-upload">
                  <mat-icon svgIcon="excel" [ngStyle]="{'margin-right.px':10}"></mat-icon>
                      <div class="company-logo-text"  *ngIf="fileAdded=== 'fileblank' ">
                          Add your excel file here 
                      </div>
                      <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileupload' ">
                          <span>{{selectedFile.name}}</span>
                          <span>File uploaded Successfully </span>
                      </div>
                      <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileerror' ">
                          <span>{{selectedFile.name}}</span>
                          <span>Excel format is not correct </span>
                      </div>  
              </div>
          </div>

          <div *ngIf="excelFileUpload" style="width: 100%; text-align: center;" >
              <span [ngStyle]="{'font-weight':600}">Uploading...</span>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
      </div>    
      <button type="button" mat-raised-button color="primary" class="upload-btn-excel" (click)="downloadFormat()">Download Sample Format</button>

  </div>
    <!-- <form [formGroup]="form">
              <div class="div-1">
                  <div class="business-details">
  
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Teacher</mat-label>
                              <mat-select formControlName="idteacher">
                                  <mat-option *ngFor="let item of teacherName" [value]="item.idTeacher">{{item.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Standard</mat-label>
                              <mat-select formControlName="idStandard" (selectionChange)="onChangeStandard($event) ">
                                  <mat-option *ngFor="let item of standardName" [value]="item.idStandard">{{item.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Division</mat-label>
                              <mat-select formControlName="idDivision"
                              (selectionChange)="onChangeDivision($event) " >
                                  <mat-option *ngFor="let item of divisionName" [value]="item.idDivision">{{item.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
  
  
                  </div>
                  <div class="business-details">
                      <div class="bus-width set-item-width">
                          <mat-form-field class="example-full-width" appearance="fill">
                              <mat-label>Select Subject</mat-label>
                              <mat-select formControlName="idSubject"
                                  >
                                  <mat-option *ngFor="let item of subjectName" [value]="item.idSubject">{{item.name}}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>
                  <div class="business-details">
                      <div class="bus-width set-item-width">
                          <button mat-raised-button color="primary" class="btn_sub" (click)="submit()">Submit Teacher Details</button>
                      </div>
                  </div>
              </div>
          </form> -->
  </div>
  
