<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h6 class="top-heading">School Timetable Details</h6>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="div-1">
            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Standred</mat-label>
                        <mat-select formControlName="idStandard" (selectionChange)="onChangeStandred($event) ">
                            <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Division</mat-label>
                        <mat-select formControlName="idDivision">
                            <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>
            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Subject</mat-label>
                        <mat-select formControlName="idSubject">
                            <mat-option *ngFor="let item of subjectData" [value]="item.idSubject">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Week Day Like:Monday,Tuesday,.........,Saturday</mat-label>
                        <mat-select formControlName="day" multiple>
                            <mat-option *ngFor="let days of daysDropDown" [value]="days.value">{{days.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Start Time</mat-label>
                        <div class="toggle-example">
                        <input  formControlName="startTime" matInput [disableClick]="true" [ngxTimepicker]="start" (ngModelChange)="setLimitOfEndTimeBasedOnStartTime($event)" readonly>
                        <ngx-material-timepicker-toggle [for]="start"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #start></ngx-material-timepicker>
                        </div>
                    </mat-form-field>
                </div>

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>End Time</mat-label>
                        <div class="toggle-example">
                        <input [min]="minForEndTime" formControlName="endTime" matInput [disableClick]="true" [ngxTimepicker]="end"  readonly>
                        <ngx-material-timepicker-toggle [for]="end" [disabled]="disableEndTime"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #end></ngx-material-timepicker>
                        </div>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <div class="bus-width set-item-width-excel">
                        <button type="button" mat-raised-button color="primary" class="btn_sub" (click)="submit()">Submit School Timetable</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="div-1" style="margin-top: 80px;">
        <div class="business-details">
            <div class="bus-width set-item-width">
                <mat-label class="labelfont">Upload Timetable File Here</mat-label>
            </div>
            <div class="bus-width set-item-width">
                <input #inputFile accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" type="file" id="file" (change)="onExcelUpload($event)">
                <!-- <div class="loader">Loading...</div> -->
            </div>
            



        </div>
    </div>
</div>