<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h6 class="top-heading">{{header}}</h6>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="div-1">
            <div class="business-details">

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Standard</mat-label>
                        <mat-select formControlName="idStandard" (selectionChange)="onChangeStandard($event) ">
                            <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Division</mat-label>
                        <mat-select formControlName="idDivision">
                            <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


            </div>
            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Subject</mat-label>
                        <mat-select formControlName="idSubject">
                            <mat-option *ngFor="let item of subjectData" [value]="item.idSubject">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Week Day Like:Monday,Tuesday,.........,Saturday</mat-label>
                        <mat-select formControlName="day" multiple>
                            <mat-option *ngFor="let days of daysDropDown" [value]="days.value">{{days.text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Start Time</mat-label>
                        <div class="toggle-example">
                        <input  formControlName="startTime" matInput [disableClick]="true" [ngxTimepicker]="start" (ngModelChange)="setLimitOfEndTimeBasedOnStartTime($event)" readonly>
                        <ngx-material-timepicker-toggle [for]="start"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #start></ngx-material-timepicker>
                        </div>
                    </mat-form-field>
                </div>

                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>End Time</mat-label>
                        <div class="toggle-example">
                        <input [min]="minForEndTime" formControlName="endTime" matInput [disableClick]="true" [ngxTimepicker]="end"  readonly>
                        <ngx-material-timepicker-toggle [for]="end" [disabled]="disableEndTime"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #end></ngx-material-timepicker>
                        </div>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <div class="bus-width set-item-width-excel">
                        <button *ngIf="!form.valid" type="submit"   mat-raised-button color="primary" class="btn_sub" (click)="submit()" >Submit School Timetable</button>
                        <button *ngIf="form.valid" type="button"  mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" class="btn_sub" (click)="buttonSecond()" >Submit School Timetable</button>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="div-1"  [ngStyle]="{'margin-top.px':80,'display':'flex','justify-content':'center','align-items':'center'}">


        <div class="file-div" (click)="clickToAddFile()" >
            <input #inputFile accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"  type="file" id="file" class="display-none" (change)="onFileChange($event)" >
            <div *ngIf="!fileUpload"  class="cursor-pointer w-100">
                <div class="add-logo excel-upload">
                    <mat-icon svgIcon="excel" [ngStyle]="{'margin-right.px':10}"></mat-icon>
                        <div class="company-logo-text"  *ngIf="fileAdded=== 'fileblank' ">
                            Add your excel file here 
                        </div>
                        <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileupload' ">
                            <span>{{selectedFile.name}}</span>
                            <span>File uploaded Successfully </span>
                        </div>
                        <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileerror' ">
                            <span>{{selectedFile.name}}</span>
                            <span>Excel format is not correct </span>
                        </div>  
                </div>
            </div>

            <div *ngIf="fileUpload" style="width: 100%; text-align: center;" >
                <span [ngStyle]="{'font-weight':600}">Uploading...</span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
        </div>    
        <button type="button" mat-raised-button color="primary" class="upload-btn-excel" (click)="downloadFormat()">Download Sample Format</button>

    </div>
</div>
