<div class="container">
  <div class="business-details-back">
    <div class="bus-width set-item-width-back" style="width: 67%">
      <button
        mat-raised-button
        color="primary"
        matSuffix
        class="back-btn"
        (click)="back()"
      >
        <mat-icon>keyboard_backspace</mat-icon>
        <mat-label>Back</mat-label>
      </button>
    </div>

    <div class="bus-width set-item-width-back">
      <h6 class="top-heading">Fees Stucture</h6>
    </div>
  </div>
  <div class="div-1">
    <form [formGroup]="form">
      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Standard</mat-label>
            <mat-select formControlName="idStandard">
              <mat-option
                *ngFor="let item of standardName"
                [value]="item.idStandard"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select FeeType</mat-label>
            <mat-select formControlName="idFeesType">
              <mat-option
                *ngFor="let item of feeType"
                [value]="item.idFeesType"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Total Fee</mat-label>
            <input formControlName="totalfees" matInput />
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Due Date</mat-label>
            <input formControlName="duedate" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="business-details">
        <div class="bus-width set-item-width-two">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Discription</mat-label>
            <input formControlName="discription" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="bus-width set-item-width-one">
        <button
          mat-raised-button
          color="primary"
          class="btn_sub"
          (click)="feeStucture()"
        >
          Submit Fees Stucture
        </button>
      </div>
    </form>
  </div>

  <div class="div-1">
    <div
      class="bus-width set-item-width-back"
      style="margin-left: 50%; font-weight: bold; margin-bottom: 20px"
    >
      <h6 class="top-heading">Fees Details</h6>
    </div>
    <form [formGroup]="form1">
      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Standard</mat-label>
            <mat-select
              formControlName="idStandard"
              (selectionChange)="onChangeStandard($event)"
            >
              <mat-option
                *ngFor="let item of standardName"
                [value]="item.idStandard"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Division</mat-label>
            <mat-select (selectionChange)="onChangeDivision($event, $event)">
              <mat-option
                *ngFor="let item of divisionName"
                [value]="item.idDivision"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select Student</mat-label>
            <mat-select formControlName="idStudent">
              <mat-option
                *ngFor="let item of studentName"
                [value]="item.idStudent"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select FeesType</mat-label>
            <mat-select formControlName="idFeesType">
              <mat-option
                *ngFor="let item of feeType"
                [value]="item.idFeesType"
                >{{ item.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date</mat-label>
            <input formControlName="date" matInput />
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Paid</mat-label>
            <input formControlName="paid" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="business-details">
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Payment Method</mat-label>
            <input formControlName="paymentmethod" matInput />
          </mat-form-field>
        </div>
        <div class="bus-width set-item-width-one">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Reference</mat-label>
            <input formControlName="reference" matInput />
          </mat-form-field>
        </div>
      </div>

      <div class="business-details">
        <div class="bus-width set-item-width-two">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Status</mat-label>
            <input formControlName="status" matInput />
          </mat-form-field>
        </div>
      </div>
      <div class="bus-width set-item-width-one">
        <button
          mat-raised-button
          color="primary"
          class="btn_sub"
          (click)="feeDetails()"
        >
          Submit Fees Details
        </button>
      </div>
    </form>
    <!-- <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">


                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Standard</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>


                <ng-container matColumnDef="rollno">
                    <th mat-header-cell *matHeaderCellDef>Roll N.</th>
                    <td mat-cell *matCellDef="let element"> {{element.rollno}} </td>
                </ng-container>


                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>Gender</th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>


                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef>Age</th>
                    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                </ng-container>

                <ng-container matColumnDef="dob">
                    <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
                    <td mat-cell *matCellDef="let element"> {{element.dob | date:'mediumDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="pmobileno">
                    <th mat-header-cell *matHeaderCellDef>P.Mobile</th>
                    <td mat-cell *matCellDef="let element"> {{element.pmobileno}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button class="btn" (click)="editStudent(element)">Edit</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div> -->
  </div>
</div>
