<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h6 class="top-heading">Attendance Details</h6>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="div-1">

            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date</mat-label>
                        <input readOnly [min]="minDate" [max]="maxDate" formControlName="date" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Standard</mat-label>
                        <mat-select formControlName="idStandard" (selectionChange)="onChangeStandard($event)">
                            <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Division</mat-label>
                        <mat-select formControlName="idDivision" (selectionChange)=" onChangeDivision($event)">
                            <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Student Name</mat-label>
                        <mat-select formControlName="idStudent">
                            <mat-option *ngFor="let item of studentName" [value]="item.idStudent">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Attendance Status</mat-label>
                        <mat-select formControlName="present">
                            <mat-option *ngFor="let item of presentStatus" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Reason</mat-label>
                        <textarea formControlName="reasons" matInput></textarea>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width-one">
                    <button type="button" mat-raised-button color="primary" class="btn_sub" (click)="attendanceDetails()">Submit Attendance Manually</button>
                </div>


            </div>
            
        </div>
    </form>

    <div class="div-1" style="margin-top: 80px;">
        <div class="business-details">
            <div class="bus-width set-item-width">
                <mat-label class="labelfont">Upload Attendance Excel File Here</mat-label>
            </div>
            <div class="bus-width set-item-width">
                <input accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" type="file" id="file" (change)="onFileChange($event)">
            </div>



        </div>
    </div>

</div>