<div class="container">
    <h6 class="top-heading">Dashboard</h6>
    <div class="div-1">
        <div class="business-details">
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/student.jpg" alt="" (click)="goStudentDetails()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 10px;font-weight: bold;">Student Information</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/attendance.jpg" alt="" (click)="goStudentAttendence()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">Attendance</p>
            </div>
            <!-- <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/assignment.jpg" alt="" (click)="goStudentAssignment()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 7px;font-weight: bold;">Student Assignment</p>
            </div> -->
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/fees.jpg" alt="" (click)=" goFees()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 30px;font-weight: bold;">Student Fees</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/homework.jpg" alt="" (click)="goHomework()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 7px;font-weight: bold;">Student HomeWork</p>
            </div>
        </div>
        <div class="business-details" style="margin-top: 30px;">
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/exam_result.jpg" alt="" (click)="goExamTimeTable()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 7px;font-weight: bold;">Student Exam Result</p>
            </div>

            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/meetings.jpg" alt="" (click)="goParentMeet()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 1px;font-weight: bold;">Parent Metting Details</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/Holiday_list.jpg" alt="" (click)="goHoliday()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 7px;font-weight: bold;">School Holiday list</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/syllabus.jpg" alt="" (click)="goSyllabus()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 17px;font-weight: bold;">Student Syllabus</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/timetable.jpg" alt="" (click)="goTimetable()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 17px;font-weight: bold;">Student timetable</p>
            </div>
        </div>
        <div class="business-details" style="margin-top: 30px;">
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/calendar.jpg" alt="" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">Calender</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/chat.jpg" alt="" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">Chat</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/library.png" alt="" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">library</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/newsletter.jpg" alt="" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">Newsletter</p>
            </div>
            <div class="bus-width set-item-width">
                <div class="img-div add-logo-div">
                    <img src="./assets/images/teachers.jpg" alt="" (click)="goTeacher()" class="iconImage">
                </div>
                <p style="margin-top: 10px;margin-left: 37px;font-weight: bold;">Teachers</p>
            </div>
        </div>
    </div>
</div>