<div class="container">
    <div class="business-details-back">
        <div class="bus-width set-item-width-back" style="width: 67%;">

            <button mat-raised-button color="primary" matSuffix class="back-btn" (click)="back()">
                    <mat-icon>keyboard_backspace</mat-icon>
                    <mat-label>Back</mat-label>
                    </button>

        </div>

        <div class="bus-width set-item-width-back">
            <h2>Attendance Details</h2>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="div-1">

            <div class="business-details">
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date</mat-label>
                        <input readOnly [min]="minDate" [max]="maxDate" formControlName="date" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Standard</mat-label>
                        <mat-select formControlName="idStandard" (selectionChange)="onChangeStandard($event)">
                            <mat-option *ngFor="let item of standardData" [value]="item.idStandard">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Division</mat-label>
                        <mat-select formControlName="idDivision" (selectionChange)=" onChangeDivision($event)">
                            <mat-option *ngFor="let item of divisionData" [value]="item.idDivision">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Student Name</mat-label>
                        <mat-select formControlName="idStudent">
                            <mat-option *ngFor="let item of studentName" [value]="item.idStudent">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Select Attendance Status</mat-label>
                        <mat-select formControlName="present">
                            <mat-option *ngFor="let item of presentStatus" [value]="item.value">{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="business-details">
                <div class="bus-width set-item-width-one">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Reason</mat-label>
                        <textarea formControlName="reasons" matInput></textarea>
                    </mat-form-field>
                </div>
                <div class="bus-width set-item-width-one">
                    
                        <button *ngIf="!form.valid" type="submit"   mat-raised-button color="primary" class="btn_sub" (click)="attendanceDetails()" >Submit Attendance</button>
                        <button *ngIf="form.valid" type="button"  mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading"   class="btn_sub" (click)="buttonSecond()" >Submit Attendance</button>
                </div>


            </div>
            
        </div>
    </form>

    <div class="div-1"  [ngStyle]="{'margin-top.px':80,'display':'flex','justify-content':'center','align-items':'center'}">


        <div class="file-div" (click)="clickToAddFile()" >
            <input #inputFile accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"  type="file" id="file" class="display-none" (change)="onFileChange($event)" >
            <div *ngIf="!fileUpload"  class="cursor-pointer w-100">
                <div class="add-logo excel-upload">
                    <mat-icon svgIcon="excel" [ngStyle]="{'margin-right.px':10}"></mat-icon>
                        <div class="company-logo-text"  *ngIf="fileAdded=== 'fileblank' ">
                            Add your excel file here 
                        </div>
                        <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileupload' ">
                            <span>{{selectedFile.name}}</span>
                            <span>File uploaded Successfully </span>
                        </div>
                        <div class="company-logo-text company-excel-name" *ngIf="fileAdded === 'fileerror' ">
                            <span>{{selectedFile.name}}</span>
                            <span>Excel format is not correct </span>
                        </div>  
                </div>

                <!-- <mat-error *ngIf="logoError == true" class="img-error">Photo is required</mat-error> -->
            </div>

            <div *ngIf="fileUpload" style="width: 100%; text-align: center;" >
                <span [ngStyle]="{'font-weight':600}">Uploading...</span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            <!-- <div  class="image-preview">  -->

                <!-- <div class="cursor-pointer change-logo" *ngIf="formService.formPreview != true" (click)="addLogo()">
                    Change Logo
                </div> -->
             <!-- </div> -->
        </div>    
        <button type="button" mat-raised-button color="primary" class="upload-btn-excel" (click)="downloadFormat()">Download Sample Format</button>

        <!-- <div class="business-details">
            <div class="bus-width set-item-width">
                <mat-label class="labelfont">Upload Attendance Excel File Here</mat-label>
            </div>
            <div class="bus-width set-item-width">
                <input #inputFile accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" type="file" id="file" (change)="onFileChange($event)">
            </div>


        </div> -->
    </div>

</div>
